<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773217480235-q4bkdjfdo3jt28h2uh2l1mafdatqdo0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773217480235-q4bkdjfdo3jt28h2uh2l1mafdatqdo0o</string>
	<key>API_KEY</key>
	<string>AIzaSyAhz4VH4BOXfPeYK4YE_qDD19VZjgJChro</string>
	<key>GCM_SENDER_ID</key>
	<string>773217480235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jinapps.Leef</string>
	<key>PROJECT_ID</key>
	<string>leef-11ed8</string>
	<key>STORAGE_BUCKET</key>
	<string>leef-11ed8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773217480235:ios:3d9ef549c7ce117e7f046e</string>
</dict>
</plist>